body{
  font-family: 'Montserrat';
  text-align: center;
}

h1{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}


.title-pic{
  width: 375px;
}

#title{
  background-color: #EFFFFD;
}

.title-c{
  color: #F4BFBF;
}

.title-o1{
  color: #FFD9C0;
}

.title-l{
  color: #B1BCE6;
}

.title-o2{
  color: #8CC0DE;
}

.title-r{
  color: #B7E5DD;
}

.container-fluid{
  padding: 2% 15%;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}


.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 3rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;

}

/* Feature */
#features{
  padding: 3% 15%;
  /* background-color: #B8FFF9; */
}

.feature-title{

}

.feature-gallery{
  width: 110%;
  margin-bottom: 1.5rem;
  border-radius: 25px;
}

.feature-box{
  padding: 5%;
}


/* pricing */
#pricing{
  background-color: #FFEEEE;
  padding: 100px;

}


.pricing-col{
  padding: 3%;
}

li{
  padding: 3px;
}

/* Bundle Section */
#bundle{
  background-color: #fff;
  padding: 100px;
}

.bronze-bundle{
  background-color: #CC9C75;
}

.silver-bundle{
  background-color: #C0C0C0;
}

.gold-bundle{
background-color: #FFCE45;
}

.platinum-bundle{
  background-color: #E5E4E2;
}

.diamond-bundle{
background-color: #E8F6EF;
}

.challenge-bundle{
background-color: #FF8E71;
}


/* CTA Section */
#cta{
padding: 3.5% 7.5%;
background-color: #ff8c8c;
color: #fff;
}

.cta-icon{
  margin: 50px;
}
